{
  "extends": ["@remix-run/eslint-config", "@remix-run/eslint-config/node"],
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ]
  }
}
